.col-4 .card {
    
    background-color: #f36405;
    text-align: justify;
    box-shadow: -0px -5px 15px 10px rgb(189, 176, 202);
    color: #023e8a;
}

.card h3 {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3dca12;
}


.card img {
    width: 350px;
    height: 300px;


}
.btn{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(13, 226, 155);
}
